
:root{
    --primary-color: #1E40AF; 
    --secondary-color: white;
    --other-color:#b8b8c0;
    --bg-main:#000080;
    --text-primary:#E0E7FF;
    --text-secondary:#090d12;

    --font-family:"Poppins", sans-serif, Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: var(--font-family);
}
.Kyu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.KyuLogo{
    height: 150px;
    width: 150px;
    text-align: center;
}

.forgot-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--other-color);
    display: grid;
    place-items: center;
}
.forgot-inputs{
    width: 100%;
    height: auto;
}
.forgot-inputs p{
    font-size: 1em;
    margin-bottom: 10px;
}
.forgot-content{
    width: 30%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}
.forgot-content h1{
    color: rgb(46, 101, 239);
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}
/* .forgot-data input{
    width: 100%;
    height: 30px;
    border:1px var(--other-color) solid;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 20px;
} */
.forgot-data{
    display: flex;
    flex-direction: column;
}
.forgot-data label{
    color: rgb(29, 28, 28);
}
.forgot-btn button{
    width: 100%;
    height: 40px;
    background-color: rgb(46, 101, 239);
    color: var(--secondary-color);
    font-size: 1em;
    border-radius: 5px;
    margin-bottom: 20px;
}
#proceed{
    color: rgb(46, 101, 239);
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}
.input-wrapper{
    position: relative;
    width: 100%;
    border: 1px var(--other-color) solid;
    margin-bottom: 20px;
    border-radius: 5px;
}
.input-wrapper input{
    width: 100%;
    height: 40px;
    border: 1px var(--other-color) solid;
    padding-left: 40px;
    font-size: 15px;
}
.input-wrapper i{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

}
