


/* TEACHERS REGISTRATION FORM CSS */

.teacher-Reg-board fieldset{
  border-radius: 10px;
  border: 2px var(--other-color) solid;
  padding: 40px;
}
.teacher-Reg-board fieldset legend{
  font-size: 2em;
  font-weight: 600px;
  margin-left: 50px;
}
.teacher-Reg{
  width: 100%;
  height: auto;
  padding: 30px;
  /* display: grid; */
}

.Teachers-input-container input{
  width: 100%;
  height: 40px;
  border: 1px var(--other-color) solid;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px;
}
.Teachers-infor-container{
  width: 100%;
  height: auto;
  /* background-color: gray; */
  /* padding: 10px; */
}
.Teachers-input-container{
  width: 40%;
  display: flex;
  flex-direction: column;
}
.Teachers-infor{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:20px;
}
.Teachers-input-container select{
  width: 100%;
  height: 40px;
  border: 1px var(--other-color) solid;
  border-radius: 5px;
}

.register-btnn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.teacher-register-btn{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.teacher-register-btn01 button{
  width: 250px;
  height: 50px;
  border: 1px var(--other-color) solid;
  border-radius: 10px;
}
 .teacher-register-btn02 button{
  width: 250px;
  height: 50px;
  background-color: rgb(46, 101, 239);
  border-radius: 10px;
  color: white;
  cursor: pointer;
} 

